<!DOCTYPE html>
<head>
    <title>Login</title>
	<link rel="stylesheet" href="{{url_for('static', filename='login_style.css')}}">
</head>
<body>
    <h1>EV Charger Monitoring System</h1>
    <form id="loginForm">
		<p>Input Username and Password</p>
        <input type="text" id="username" placeholder="Username" autocomplete="off" required 
		onpaste="return false;" oncopy="return false;"><br>
        <input type="password" id="password" placeholder="Password" required
		onpaste="return false;" oncopy="return false;"><br>
        <button type="submit">Login</button>
		<p id="message"></p>
    </form>
    <script type="text/javascript">
        const validLogin = {
            username: "Security",
            password: "EVchargeSecurity"
        };
	let attempt = 0;
        const maxAttempt = 3;
        const waitTime = 60;
        let waiting = false;
	let countdownTimer;
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();
            if (waiting){
                document.getElementById('message').innerText = `Please wait ${countdownTimer} seconds before trying again.`;
                return;
            }
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            if(username === validLogin.username && password === validLogin.password){
                window.location.href = "index.html";
            }else{
                attempt++;
		const attemptsLeft = maxAttempt - attempt;
                document.getElementById('message').innerText = `Login failed, incorrect username/password, ${attemptsLeft} attempt(s) left.`;
                if(attempt >= maxAttempt){
                    waiting = true;
		    countdownTimer = waitTime;
                    const countdownInterval = setInterval(()=>{
                        countdownTimer--;
                        document.getElementById('message').innerText = `Please wait ${countdownTimer} seconds before trying again.`;
                        if(countdownTimer <= 0){
                            clearInterval(countdownInterval);
                            waiting = false;
                            attempt = 0;
                            document.getElementById('message').innerText = "";
                        }
                    }, 1000);
                }
            }
        });
    </script>
</body>
</html>
