/*general*/
body{font-family: Arial, sans-serif; background-color: #f1f3f4;
    color: #202124; padding: 20px;}

h1, h3{text-align: center; margin-bottom: 20px;}

mark{color: red; background-color:transparent;}

/*input container*/
.input-container{display: flex; justify-content: center; margin-bottom: 20px;}

input[type="text"]{padding: 10px; border: 1px solid #ccc;
    border-radius: 4px; width: 250px; margin-right: 10px;
	border-color: #1f6dff; outline-color: #58f7fc;}

button{padding: 10px 15px; background-color: #6ea5ff; color: white; border: none;
    border-radius: 10px; cursor: pointer; transition: background 0.2s;}

button:hover{color: #fcc058; background-color: #1369f2;}

/*homepage shortcut*/
.shortcut{text-decoration: none; color:black; padding: 10px; border-radius: 4px; 
	text-align: center; padding: 10px; background-color:white;}

.shortcut:hover{background-color: #e8f0fe;}

.shortcut:active{color: #fa3434;}

.shortcut.active{background-color: #a6f263; color: #fa3434;}

/*output*/
.textStyle{text-align: center; padding: 10px;
    border-radius: 4px; margin-top: 10px;}

.dataShow{text-align: center; padding: 10px;
    border-radius: 4px; margin-top: 10px;}

/*table*/
table{margin: 0 auto; margin-bottom: 20px;}

td{padding: 10px;}

/*switch*/
.switch{position: relative; display: inline-block; width: 60px; height: 34px;}

.switch input{opacity: 0; width: 0; height: 0;}

.slider{position: absolute; cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc;
  -webkit-transition: 0.4s; transition: 0.4s;  border-radius: 34px;}

.slider:before{position: absolute; content: ""; height: 26px; width: 26px;
    left: 4px; bottom: 4px;  background-color: white;
    border-radius: 50%; transition: 0.4s;}

input:checked + .slider{background-color: #2196F3;}

input:checked + .slider:before{transform: translateX(26px);}
