
p{text-align: center; margin-bottom: 20px; font-family: "Times New Roman", serif;}

body{background-color: #FFFFFF;}

#Time{background-color: #F1F1F2; border-radius: 10px; padding: 0.5px;
 font-family: "Lucida Console", "Courier New", monospace;}

a{margin: 10px;}

th{font-size: 30px;}

.w3-light-grey{height: 16px; width: 50%;}

.preview{display: flex; justify-content: center; align-items: center;
        border: 1px solid #ccc; border-radius: 10px; padding: 15px;
        text-align: left; transition: transform 0.2s, box-shadow 0.2s;
		font-family: Helvetica;}

.shortcut img{width: 100%; height: auto; border-radius: 10px; margin:10px;}

.preview:hover, .shortcut img:hover{transform: scale(1.03); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

a{color: #FFFFFF; background-color: #A1D6E2;}

a:hover{color: #FFFFFF; background-color: #1995AD;}

@media only screen and (max-width: 600px) {
  .item1 {grid-area: 1;}
  .item2 {grid-area: 2;}
  .item3 {grid-area: 3;}
  .item4 {grid-area: 4;}
}

@media only screen and (min-width: 600px) {
  .item1 {grid-area: 1;}
  .item2 {grid-area: 1;}
  .item3 {grid-area: 2;}
  .item4 {grid-area: 2;}
}

@media only screen and (min-width: 860px) {
  .item1 {grid-area: 1;}
  .item2 {grid-area: 1;}
  .item3 {grid-area: 1;}
  .item4 {grid-area: 1;}
}

.grid-container {display: grid; grid-template-areas: "item1" "item2"
                "item3" "item4"; gap: 16px; margin: 20px;}

.grid-container a{text-decoration: none; color: inherit;}
