/*general*/
body{background-color: #1995AD;}

/*content area*/
#contentarea{display: flex; height: calc(100vh - 70px);}

#header{font-weight: bold; font-size: 2em;
    margin-top: 10px; text-align:center;}

a{text-decoration: none; color: #FFFFFF; align-items: center; display: list-item;
	padding: 10px; border-radius: 4px; transition: background 0.2s;
	font-family: "Lucida Console", "Courier New", monospace;}

a:hover{background-color: #1995AD; color: #FFFFFF;}

a:active{color: #F1F1F2;}

div#column1{color: #FFFFFF; background-color: #A1D6E2; width: 250px; margin-right: 10px;}

/*main content*/
div#column2{width:90%; float:right;}

div#column2 iframe{width:100%; border:none; height:100vh;}

/*clearfix*/
.clearfloat{clear: both;}
	
/*media queries*/
@media (max-width: px){div#column1, div#column2 {width: 100%; flex-direction: column;}
	div#column1{order: 1;} div#column2 {order: 2;}
}
