h1{text-align: center;}

div{background-color: #ffd775; padding: 10px; border-radius: 10px;}

body{font-family: Verdana, sans-serif; background-color: #424242; 
	margin: 0; padding: 100px;}

#loginForm{background-color: white; padding: 20px; border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); max-width: 300px; margin: auto;
	text-align: center;}

input[type="text"], input[type="password"] {
    width:90%; padding: 10px; margin: 5px 0;
    border: 1px solid #ccc; border-radius: 6px;
	border-color: #ffa700; outline-color: #f7ff76;
	font-family: "Lucida Console", "Courier New", monospace;}
		
button{background-color: #fccb47; color: white; border: none; padding: 10px;
    border-radius: 10px; cursor: pointer; transition: background 0.2s; width: 100%;}
			
button:hover{color: #fffb00; background-color: #ffb704; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

#message{text-align: center; margin-top: 10px; color: red; font-style: bold;}
