/*general*/
h1, p{text-align: center; margin-bottom: 20px; font-family: "Times New Roman", Times, serif;}

p{padding:10px;}

body{background-color: #F1F1F2}

input[type="text"]{padding: 5px; border: 3px solid #ccc;
    border-radius: 5px; width: 200px; margin: 10px 10px 10px;
	height: 30px; border-color: #A1D6E2; outline-color: #1995AD;
	font-family: "Lucida Console", "Courier New", monospace;}

/*button*/
button{padding: 10px 15px; color: #FFFFFF; background-color: #A1D6E2; border: none;
    border-radius: 10px; cursor: pointer; transition: background 0.2s; height: 40px;
	margin-top: 10px;}

button:hover{color: #FFFFFF; background-color: #1995AD; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

/*container*/
.container1, .container2, .container3{background-color: #ffffff; border-radius: 10px; margin:5px;
text-align:center;}

/*tables*/
table{margin: 0 auto; margin-top:10px; margin-bottom: 10px; border-collapse: collapse;
padding: 10px;}

th{font-size: 24px; padding: 10px;}

td{padding: 10px; font-family: Verdana, Helvetica, sans-serif;}

.row{display: flex; flex-wrap: wrap;}

.column{flex: 1; padding: 10px;}

.info{text-align: left;}

#warning, #output{border-radius: 5px; color: #FFFFFF;}

#historyNumber{border-radius: 5px; border-color: #A1D6E2; outline-color: #1995AD;}

/*switch*/
.switchtable{float: right;}

.switch{position: relative; display: inline-block; width: 60px; height: 34px;}

.switch input{opacity: 0; width: 0; height: 0;}

.slider{position: absolute; cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc;
  -webkit-transition: 0.4s; transition: 0.4s;  border-radius: 34px;}

.slider:before{position: absolute; content: ""; height: 26px; width: 26px;
    left: 4px; bottom: 4px;  background-color: white;
    border-radius: 50%; transition: 0.4s;}

input:checked + .slider{background-color: #A1D6E2;}

input:checked + .slider:before{transform: translateX(26px);}

/*data graph*/
#dataGraph {width: 100%;}

canvas {width: 100% !important; height: 400px; max-height: 100%;}

.container2{flex: 1 1 40%; margin-right: 10px;}

.container3{flex: 1 1 40%;}

@media (max-width: 768px) {
    .container1, .container2, .container3 {flex: 1 1 100%; margin-right: 0;}
}
