<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='webpage_style.css')}}">
	<script src="{{url_for('static', filename='script.js')}}"></script>
	<!-- Script for generating excel file -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
	<!-- Script for generating data graph -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<h1>Charger</h1>
	<div class="row container1">
		<table>
			<tr><td>
				<input id = "input" type = "text" placeholder = "Input charger number..." autocomplete="off">
				<button id = "button" onclick = "printChargerNum()">Search</button>
			</td></tr>
			<tr><td>
				<p id = "output"></p>
			</td></tr>
		</table>
		<table id="data">
			<tbody>
				<tr>
					<td class="info">Charger Number:</td>
					<td id="charger-number">{{chargernum}}</td>
				</tr>
				<tr>
					<td class="info">Power:</td>
					<td id="power">{{power}}</td>
				</tr>
				<tr>
					<td class="info">Charger Status:</td>
					<td id="status">{{connectorStatus}}</td>
				</tr>
				<tr>
					<td class="info">Charging Time:</td>
					<td id="time">{{chargingTime}}</td>
				</tr>
			</tbody>
		</table>
		<table class="switchtable">
			<tr>
				<th colspan="3">Charger Power</th>
			</tr>
			<tr>
				<td><p>OFF</p></td>
				<td>
					<label class="switch">
						<input type="checkbox" id="toggleSwitch" {% if power %}checked{% endif %}>
						<span class="slider"></span>
					</label>
				</td>
				<td><p>ON</p></td>
			</tr>
		</table>
	</div>
	
	<div class="column container2">
		<table id="history">
			<thead>
				<tr>
					<th colspan="4">Search History</th>
				</tr>
				<tr>
					<td colspan="4">
						<div class="history-controls">
							<label for="historyNumber">Select number of records for display:</label>
							<select id="historyNumber">
								<option>5</option>
								<option>10</option>
								<option>15</option>
								<option>20</option>
								<option>25</option>
								<option>30</option>
							</select>
						</div>
					</td>
				</tr>
				<tr class="history-header">
					<th>Charger Number</th>
					<th>Power</th>
					<th>Charging Status</th>
					<th>Charging Time</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4"><p id="warning">Search to add history record</p></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<button onclick="exportToExcel(data)">Download History</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="column container3">
		<table id="dataGraph">
			<thead>
				<tr>
					<th colspan="5" style="font-weight: 900;">Data Graph</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<canvas id="chargerChart"></canvas>
					</td>
				</tr>
			</tbody>
			<tr>
				<td>
					<button onclick="exportAsGraph()">Download Graph</button>
				</td>
			</tr>
		</table>
	</div>
	<p id="warning"></p>
	<button onclick="document.location='home.html'" target="mainframe" style="float: right;">Home</button>
	<br><br><br>

	<script>
		const data = [];
		function printChargerNum(){
			const chargerNum = document.getElementById("input").value.trim();
			const outputNum = document.getElementById("output");
			const outputData = document.getElementById("data");
			const checkPower = {{ power|tojson }};
			const checkStatus = {{ connectorStatus|tojson }};
			const checkTime = {{ chargingTime|tojson }};
			const chargerNumFormat = /^CDJ\d{6}$/; /* Charger number format, must start with CDJ follow by six digit number */
			if(chargerNum === ""){ /* Check if input is empty */
				outputNum.innerHTML = "Please input charger number.";
				outputNum.style.backgroundColor = "red";
				clearTable();
                return;
			}else if(!chargerNumFormat.test(chargerNum)){ /* Check if charger number satisfies format */
				outputNum.innerHTML = "Charger number must start with 'CDJ'<br>follow by a six digit number.";
				outputNum.style.backgroundColor = "yellow";
				clearTable();
                return;
			}else{
				outputNum.innerHTML = "Now controlling charger: " + chargerNum;
				outputNum.style.backgroundColor = "#90EE90";
			}
			document.getElementById("charger-number").textContent = chargerNum;
            document.getElementById("power").textContent = checkPower;
			document.getElementById("status").textContent = checkStatus;
			document.getElementById("time").textContent = checkTime;
			const dataDisplay = {
                ChargerNo: chargerNum,
                Power: checkPower,
				Status: checkStatus,
				Time: checkTime
            };
			if(!data.find(entry => entry.ChargerNo === chargerNum)){
                data.push(dataDisplay);
				updateHistoryRecord(); /* Update history after new entry */
            }
			document.getElementById("input").value = ''; /* Set input to empty after button clicked */
		}
		function clearTable(){
            document.getElementById("charger-number").textContent = "";
            document.getElementById("power").textContent = "";
			document.getElementById("status").textContent = "";
			document.getElementById("time").textContent = "";
        }
		let maxEntries = document.getElementById("historyNumber").value.trim();
		document.getElementById("historyNumber").addEventListener("change", function() {
			maxEntries = this.value.trim();
			updateHistoryRecord();
		});
		function updateHistoryRecord() {
            const historyRecord = document.getElementById("history").getElementsByTagName("tbody")[0];
            historyRecord.innerHTML = ""; /* Clear current record */
            const history = data.slice(-maxEntries); /* Get last maxEntries */
            history.forEach(entry => {
                const row = document.createElement("tr");
                row.innerHTML =
                    '<td>' + entry.ChargerNo + '</td>' +
                    '<td>' + entry.Power + '</td>' +
                    '<td>' + entry.Status + '</td>' +
                    '<td>' + entry.Time + '</td>';
                historyRecord.appendChild(row); /* Append new row */
            });
        }
		function exportToExcel(data){
			const warningData = document.getElementById("warning");
			const validData = data.filter(entry => entry.ChargerNo && /^CDJ\d{6}$/.test(entry.ChargerNo)); /* Only allow data with valid charger number been input */
			if(validData.length === 0){
				warningData.textContent =("No valid charger data to export.");
				warningData.style.backgroundColor = "red";
				return;
			}else{
				warningData.textContent = "";
				warningData.style.backgroundColor = "transparent";
				const workbook = XLSX.utils.book_new();
				const worksheet = XLSX.utils.json_to_sheet(validData);
				XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
				XLSX.writeFile(workbook, "chargerLog.xlsx");
			}
        }
		document.addEventListener('DOMContentLoaded', function() {
			const ctx = document.getElementById('chargerChart').getContext('2d');
			const chargingStatusValues = {{ chargingStatus_values|tojson }};
			const chargingTimeValues = {{ chargingTime_values|tojson }};
			const times = {{ times|tojson }};
			const current = {{ current|tojson }}; /* Amperes */
			const chargerChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: times,
					datasets: [{
						label: 'Charging Voltage(unit = voltage)',
						data: current,
						borderColor: 'rgba(75, 192, 192, 1)',
						backgroundColor: 'rgba(75, 192, 192, 0.2)',
						borderWidth: 2,
						fill: false,
					}]
				},
				options: {
					responsive: true,
					maintainAspectRatio: false,
					scales: {
						x: {
							title: {
								display: true,
								text: 'Time'
							},
							ticks: {
								autoSkip: true,
								maxTicksLimit: 20
							}
						},
						y: {
							title: {
								display: true,
								text: 'Voltage V'
							},
							min: 0,
							max: 240,
							beginAtZero: true,
							ticks: {
								stepSize: 1
							}
						}
					}
				}
			});
		});
		function exportAsGraph() {
			const chargingStatusValues = {{ chargingStatus_values|tojson }};
			const chargingTimeValues = {{ chargingTime_values|tojson }};
			const wb = XLSX.utils.book_new();
			const wsData = [['Charging Status', 'Charging Time']];
			for (let i = 0; i < chargingStatusValues.length; i++) {
				wsData.push([chargingStatusValues[i], chargingTimeValues[i]]);
			}
			const ws = XLSX.utils.aoa_to_sheet(wsData);
			XLSX.utils.book_append_sheet(wb, ws, 'Charger Data');
			XLSX.writeFile(wb, 'chargerGraphData.xlsx');
		}
		document.getElementById("toggleSwitch").addEventListener("change", function() {
		if (this.checked) {
			fetch("/toggleChargerTrue", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({ status: "true" }) }
			).then(response => {
				if (response.ok) {
					console.log("Toggle switched to true"); }
				else {
					console.error("Failed to send request"); } }).catch(error => {console.error("Error:", error); }); }
		else {
			fetch("/toggleChargerFalse", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({ status: "false" }) }
			).then(response => {
				if (response.ok) {
					console.log("Toggle switched to false"); }
				else {
					console.error("Failed to send request"); } }).catch(error => { console.error("Error:", error); }); } });
    </script>
</body>
</html>
