<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "../static/webpage_style.css">
	<script src = "{{url_for('static', filename='script.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script><!--generate excel file-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script><!--generate data graph-->
</head>
<body>
	<h1>Human Motion Sensor</h1>
	<input id = "input" type = "text" placeholder = "Input charger number..." autocomplete="off">
	<button id = "button" onclick = "printChargerNum()">search</button>
	<p id = "output" class = "textStyle"></p>
	<div class="container">
		<table id="data" class="dataShow datatable">
			<thead>
				<tr>
					<th>Charger Number</th>
					<th>Power</th>
					<th>Record Time</th>
					<th>HumanActivity</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="charger-number"></td>
					<td id="power">{{power}}</td>
					<td id="time">{{time}}</td>
					<td id="human">{{ispresence}}</td>
				</tr>
			</tbody>
		</table>
		<table class="switchtable">
			<tr>
				<td><p>OFF</p></td>
				<td><label class = "switch">
					<input type = "checkbox">
					<span class = "slider"></span>
					</label>
				</td>
				<td><p>ON</p></td>
			</tr>
		</table>
	</div>
	<div style="border-radius: 4px; background-color: #e6e6e6; display: flex;">
		<table id="history" class="historytable">
			<thead>
				<tr>
					<th colspan="4" style="border-color: transparent;">
						<label for="historyNumber">Select number of records for display:</label>
						<select id="historyNumber">
						  <option>5</option>
						  <option>10</option>
						  <option>15</option>
						  <option>20</option>
						  <option>25</option>
						  <option>30</option>
						</select>
					</th>
				</tr>
				<tr>
					<th colspan="4" style="border-color: red; font-weight: 900;">Search History</th>
				</tr>
				<tr>
					<th>Charger Number</th>
					<th>Power</th>
					<th>Record Time</th>
					<th>HumanActivity</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" style="border: none;"><p id="warning" class="dataShow">Search to add history record</p></td>
				</tr>
			</tbody>
			<tr>
				<td style="border: none;">
					<button onclick = "exportToExcel(data)">Download History</button>
				</td>
			</tr>
		</table>
	</div>
		<div style="border-radius: 4px; background-color: #e6e6e6; display: flex;">
		<table id = "dataGraph" class="historytable">
			<thead>
				<tr>
					<th colspan="5" style="border-color: red; font-weight: 900;">Data Graph</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="border-color: transparent";>
						<canvas id="humanMotionChart"></canvas>
					</td>
				</tr>
			</tbody>
			<tr>
				<td style="border: none;">
					<button onclick = "exportToExcel(graph)">Download Graph</button>
				</td>
			</tr>
		</table>
	</div>
	<p id = "warning" class = "dataShow"></p><!--keep log button functional-->
	<button onclick = "document.location='home.html'" target = "mainframe" style="float: right;">Home</button>
	<script>
        const humanChart = document.getElementById('humanMotionChart');
        const humanMotionChart = new Chart(humanChart,{
            type: 'line',
            data: {
                labels: ['00','01','02','03','04','05','06','07','08','09','10','11',
				'12','13','14','15','16','17','18','19','20','21','22','23'],
                datasets: [{
                    label: 'Human Sensed', data: [0, 1, 1, 0, 0, 3, 5, 6, 4],
                    borderColor: '#1f6dff', backgroundColor: 'transparent',
                    tension: 0.1}]
            },
			options: {
				responsive: true,
				maintainAspectRatio: false,/*allow chart to take full height of container*/
					scales: {
						x: {
							title: {
								display: true, text: 'Time (hour)'}
						},
						y: {
							title: {
								display: true, text: 'Human Sensed'},
							beginAtZero: true}
					}
			}
		});
		const data = [];
		let maxEntries = document.getElementById("historyNumber").value.trim();
		document.getElementById("historyNumber").addEventListener("change", function() {
			maxEntries = this.value.trim();
			updateHistoryRecord();
		});
		function printChargerNum(){
			const chargerNum = document.getElementById("input").value.trim();
			const outputNum = document.getElementById("output");
			const outputData = document.getElementById("data");
			const checkPower = ("On");
			const checkTime = ("9:00");
			const checkHuman = ("Yes");
			const chargerNumFormat = /^CDJ\d{6}$/;/*charger number format, must start with CDJ follow by six digit number*/
			if(chargerNum === ""){/*check if input is empty*/
				outputNum.innerHTML = "Please input charger number."
				outputNum.style.backgroundColor = "red";
				clearTable();
                return;
			}else if(!chargerNumFormat.test(chargerNum)){/*check if charger number satisfies format*/
				outputNum.innerHTML = "Charger number must start with 'CDJ' follow by a six digit number."
				outputNum.style.backgroundColor = "#f0a23c";
				clearTable();
                return;
			}else{
				outputNum.innerHTML = "Now controlling charger: " + chargerNum;
				outputNum.style.backgroundColor = "#a6f263";
			}
			document.getElementById("charger-number").textContent = chargerNum;
            document.getElementById("power").textContent = checkPower;
			document.getElementById("time").textContent = checkTime;
            document.getElementById("human").textContent = checkHuman;
			const dataDisplay = {
                ChargerNo: chargerNum,
                Power: checkPower,
				Time: checkTime,
                HumanActivity: checkHuman
            };
            if(!data.find(entry => entry.ChargerNo === chargerNum)){
                data.push(dataDisplay);
				updateHistoryRecord(); /*update history after new entry*/
            }
			document.getElementById("input").value = '';/*set input to empty after button clicked*/
		}
		function clearTable(){
            document.getElementById("charger-number").textContent = "";
            document.getElementById("power").textContent = "";
			document.getElementById("time").textContent = "";
            document.getElementById("human").textContent = "";
        }
		function updateHistoryRecord() {
            const historyRecord = document.getElementById("history").querySelector("tbody");
            historyRecord.innerHTML = ""; /*clear current record*/
            const history = data.slice(-maxEntries); /*get last maxEntries*/
            history.forEach(entry => {
                const row = document.createElement("tr");
                row.innerHTML =
                    '<td>' + entry.ChargerNo + '</td>' +
                    '<td>' + entry.Power + '</td>' +
					'<td>' + entry.Time + '</td>' +
                    '<td>' + entry.HumanActivity + '</td>';
                historyRecord.appendChild(row); /*append new row*/
            });
        }
        function exportToExcel(data){
			const warningData = document.getElementById("warning");
			const validData = data.filter(entry => entry.ChargerNo && /^CDJ\d{6}$/.test(entry.ChargerNo));/*only allow data with valid charger number been input*/
			if (validData.length === 0){
				warningData.textContent =("No valid charger data to export.");
				warningData.style.backgroundColor = "red";
				return;
			}else{
				warningData.textContent = "";
				warningData.style.backgroundColor = "transparent";
				const workbook = XLSX.utils.book_new();
				const worksheet = XLSX.utils.json_to_sheet(validData);
				XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
				XLSX.writeFile(workbook, "humanMotionLog.xlsx");
			}
        }
		document.getElementById("toggleSwitch").addEventListener("change", function() {
			if (this.checked) {
				fetch("/toggleHuman_motionTrue", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({ status: "true" }) }
				).then(response => {
					if (response.ok) {
						console.log("Toggle switched to true"); }
					else {
						console.error("Failed to send request"); } }).catch(error => {console.error("Error:", error); }); }
			else {
				fetch("/toggleHuman_motionFalse", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({ status: "false" }) }
				).then(response => {
					if (response.ok) {
						console.log("Toggle switched to false"); }
					else {
						console.error("Failed to send request"); } }).catch(error => { console.error("Error:", error); }); } });
    </script>
</body>
</html>
