<!DOCTYPE html>
<head>
	<title>Homepage</title>
	<link rel = "stylesheet" href = "{{url_for('static', filename='index_style.css')}}">
	<script src = "{{url_for('static', filename = 'index_script.js')}}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
	<div id="contentarea">
		<div id="column1">
			<div id="header">Charger Info</div>
			<a href="new_home.html" target="mainframe">🏠Home</a>
			<a href="new_charger.html" target="mainframe">⚡Charger</a>
			<a href="new_human_motion.html" target="mainframe">🙎‍Human Motion</a>
			<a href="new_temp_humid.html" target="mainframe">🌡️Temperature/Humidity</a>
			<a href="new_water.html" target="mainframe">💧Water Leakage</a>
			<a href="new_login.html">🚪Logout</a>
		</div>
		<div id="column2">
			<iframe id="iFrame" name="mainframe" src="new_home.html"
				frameborder="0" scrolling="yes" onload="resizeIFrameToFitContent(this);">
			</iframe>
		</div>
		<div class="clearfloat">
			<!-- purposely added to clear float -->
		</div>
	<script>
        const links = document.querySelectorAll('link');/*icons for charger and IoTs*/
        links.forEach(link => {
            link.addEventListener('click', function() {
                links.forEach(l => l.classList.remove('active'));
                this.classList.add('active');
            });
        });
		if (document.referrer === ""){/*check if url is input from textbar*/
			window.location.href = "login.html";
		}
    </script>
</body>
</html>
